{% extends 'base.html' %}

{% block content %}
<div class="full">
  <div class="title">
    <h1>PENN CS TAKES ON THE WORLD IN SUMMER 2013</h1>
  </div>
  <div class="globe">
    <img src="/media/img/earth.png"/>
  </div>
</div>
  <div class="companies-size">
    <h1>PENN REPRESENTING</h1>
    <h2>(grouped by company size, with bubble size representing Penn student representation)
    <div class="bubblechart"></div>
</div>

  <div id="states_map">
    <h1>CHANGE OVER TIME FOR PENN'S MOST POPULAR COMPANIES<h1>
        <canvas id="change_time" height="600" width="1200"></canvas>
        <div class="legend">
          <div id="thirteen"></div><span>2013</span>
          <div id="twelve"></div><span>2012</span>
        </div>
  </div>
  <div class="size_by_class">
    <h1>COMPANY TYPE BY CLASS<h1>
    <div class="pie_chart"></div>
  </div>
  <div class="industries">
    <h1>FORCE WEIGHTED GRAPH FOR THE INDUSTRIES WE'RE WORKING IN</h1>
    <div class="graph"></div>
  </div>
  <div class="map_bubble">
    <h1>WHERE ARE WE THIS SUMMER?</h1>
    <div id='map_locations'></div>
  </div>
  <div class="students">
    <h1>WHO ARE WE?</h1>
    <div id="2016" class="class">
      <h2>CLASS OF 2016</h2>
      {% for s in students.0 %}
        <div class="each">
          <h3>{{ s.name }}<h3>
          <p id="major">{{ s.major }}<p>
            {% if s.startup %}
              <p id="name">Startup: {{ s.startup }}</p>
            {% elif s.research %}
              <p id="name">Research: {{ s.research }}</p>
            {% elif s.company_id %}
              <p id="name">Company: {{ s.company_id }}</p>
            {% else %}
              <p id="name">Other: {{ s.position }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <div id="2015" class="class">
      <h2>CLASS OF 2015</h2>
      {% for s in students.1 %}
        <div class="each">
          <h3>{{ s.name }}<h3>
          <p id="major">{{ s.major }}<p>
            {% if s.startup %}
              <p id="name">Startup: {{ s.startup }}</p>
            {% elif s.research %}
              <p id="name">Research: {{ s.research }}</p>
            {% elif s.company_id %}
              <p id="name">Company: {{ s.company_id }}</p>
            {% else %}
              <p id="name">Other: {{ s.position }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <div id="2014" class="class">
      <h2>CLASS OF 2014</h2>
      {% for s in students.2 %}
        <div class="each">
          <h3>{{ s.name }}<h3>
          <p id="major">{{ s.major }}<p>
            {% if s.startup %}
              <p id="name">Startup: {{ s.startup }}</p>
            {% elif s.research %}
              <p id="name">Research: {{ s.research }}</p>
            {% elif s.company_id %}
              <p id="name">Company: {{ s.company_id }}</p>
            {% else %}
              <p id="name">Other: {{ s.position }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <div id="2013" class="class">
      <h2>CLASS OF 2013</h2>
      {% for s in students.3 %}
        <div class="each">
          <h3>{{ s.name }}<h3>
          <p id="major">{{ s.major }}<p>
            {% if s.startup and s.startup.strip %}
              <p id="name">Startup: {{ s.startup }}</p>
            {% elif s.research and s.research.strip %}
              <p id="name">Research: {{ s.research }}</p>
            {% elif s.company_id and s.company_id.strip %}
              <p id="name">Company: {{ s.company_id }}</p>
            {% else %}
              <p id="name">Other: {{ s.position }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="foot">
    <span>For errors or suggestions - feel free to <a href="mailto:sclarawu@gmail.com">email</a> Clara Wu or <a href="https://www.facebook.com/s.clara.wu">message her on Facebook</a></span>
  </div>

{% endblock content %}
