{% extends 'base.html' %}

{% block content %}
<div class="full">
  <div class="title">
      <h1>PENN CS TAKES ON THE WORLD IN SUMMER 2013</h1>
    </div>
    <div class="globe">
      <img src="/media/img/earth.png"/>
    </div>
      <div id="full-screen-background-image"></div>
  </div>
  <div id='map_locations'></div>
  <div class="bubblechart">
  </div>

  <div id="states_map">
      <div id="footer">
        <span>Company Locations</span>
        <div class="hint"></div>
      </div>
  </div>
  <div class="pie_chart"></div>
  <div class="graph"></div>

{% endblock content %}
